<div class="card container">
    <div class="card-header">
        <h4>{{event.title}}</h4>
    </div>
    <div class="card-body">
        <h3>Host: {{event.host.name}}</h3>
        <h3>Date: {{event.date}}</h3>
        <h3>Location: {{event.address}}</h3>
        <p>{{event.description}}</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Send Gift</button>
    </div>
</div>