<div class="container">
    {{#if authenticatedUser.events}}
    {{#each authenticatedUser.events}}
    {{!-- border top lgiht border bottom dark so that when they collapse they show line in between --}}
    <div class="card mx-auto mt-4" id="{{this._id}}">
        <div class="row mx-0">
            <form class="col-md px-0 border-bottom border-dark" method="post" action="/events/{{this._id}}/?_method=PATCH">
                {{!-- PUT FORM IN HERE --}}
                <div class="card-header d-flex">
                    <input readonly class="form-control-plaintext" name="title" value="{{this.title}}">
                    <img class="qr-code" style="width: 38px; height: 38px" src="https://api.qrserver.com/v1/create-qr-code/?data=https%3A%2F%2Fgiftingmadesimple.herokuapp.com%2Fevents%2F{{this._id}}" />
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="date" class="col-sm-4 col-form-label px-1">Date:</label>
                        <div class="col-sm-8 px-1">
                            <input type="datetime-local" readonly name="date" class="form-control-plaintext" value="{{this.date}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="col-sm-4 col-form-label px-1">Address:</label>
                        <div class="col-sm-8 px-1">
                            <input type="text" readonly name="address" class="form-control-plaintext" value="{{this.address}}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-4 col-form-label px-1">Description</label>
                        <div class="col-sm-8 px-1">
                            <textarea name="" readonly class="form-control-plaintext" cols="10" rows="5">Come celebrate the wedding of name and name, name with us!</textarea>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-dark" onclick="toggleEditability('{{this._id}}')">Edit</button>
                    <button type="submit" class="btn btn-dark d-none">Submit</button>
                    <button type="button" class="btn btn-danger d-none" onclick="deleteEvent('{{this._id}}')">Delete</button>
                    <button type="button" class="btn btn-danger d-none" onclick="toggleEditability('{{this._id}}')">Cancel</button>
                </div>

            </form>
            <div class="col px-0 h-100">
                {{!-- PUT GIFTS IN HERE --}}
                <div class="card-header">
                    <input readonly class="form-control-plaintext" value="Gifts">
                </div>
                <div class="card-body p-1">
                    <h6 class="text-center">New</h6>
                </div>
                <div class="card-footer">
                    <button class="btn btn-secondary">Expand</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h1>You have no events.</h1>
    <a href="/events/new" class="btn btn-dark">Create One</a>
    {{/if}}
</div>
<div class="qr-code-overlay">
    <div class="bg-light">
        <img id="bigQR" src="" alt="">
        <a href=""><span id="qr-link" class="badge badge-secondary"></span></a>
    </div>
</div>

<script>
    /* QR-CODE ANIMATION ------------------------------------------------- */

    $(document).ready(function () {
        $('.qr-code').click(function () {
            const newLink = $(this).prop('src') + ';size=512x512';
            $('#bigQR').prop('src', newLink);
            $('#bigQR').css({ width: '512px', height: '512px' });
            $('.qr-code-overlay').fadeIn(400);
            const link = decodeURIComponent($(this).prop('src').replace('https://api.qrserver.com/v1/create-qr-code/?data=', ''));
            $('#qr-link').text(link);
            $('#qr-link').parent().prop('href', link);
        });
        $('.qr-code-overlay').click(function () {
            $(this).fadeOut(400);
        });
    });

    /* ------------------------------------------------------------------- */

    /* EVENT FORM -------------------------------------------------------- */
    function toggleEditability(id) {
        const inputs = $(`#${id} input`);

        // Allow inputs to be editable
        inputs.each((index, input) => {
            input.readOnly = !input.readOnly;
        });

        // Toggle bootstrap class
        inputs.toggleClass('form-control-plaintext');
        inputs.toggleClass('form-control');

        // Toggle the display (hide/show) class on the bottom three buttons
        $(`#${id} .card-footer button`).toggleClass('d-none');
    }
    /* -------------------------------------------------------------------- */
</script>